<nav aria-label="Page navigation example" >
    <ul class="pagination justify-content-center">
        <li class="page-item">
            {% if objects_of_type.has_previous %}
                <a href="{% url 'admin:products_type_read_read_page' pk_type objects_of_type.previous_page_number %}"
                   class="page-link genric-btn primary">Назад</a>
            {% endif %}
        </li>
        <li class="page-item">
                                    <span class="page-link genric-btn primary">
                                        страница {{ objects_of_type.number }} из {{ objects_of_type.paginator.num_pages }}
                                    </span>
        </li>
        <li class="page-item">
            {% if objects_of_type.has_next %}
                <a href="{% url 'admin:products_type_read_read_page' pk_type objects_of_type.next_page_number %}"
                   class="page-link genric-btn primary">Вперёд</a>
            {% endif %}
        </li>
    </ul>
</nav>
