<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            {% if page_obj.has_previous %}
                <a href="{% url 'admin:categories_read_page'  page_obj.previous_page_number %}"
                   class="page-link genric-btn primary">Назад</a>
            {% endif %}
        </li>
        <li class="page-item">
                                    <span class="page-link genric-btn primary">
                                        страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                                    </span>
        </li>
        <li class="page-item">
            {% if page_obj.has_next %}
                <a href="{% url 'admin:categories_read_page' page_obj.next_page_number %}"
                   class="page-link genric-btn primary">Вперёд</a>
            {% endif %}
        </li>
    </ul>
</nav>
