{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authapp:edit' %}">
            {% if user.first_name %}
            {{ user.first_name }}
            {% else %}
            {{ user.username }}
            {% endif %}
        </a>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authapp:logout' %}">
            Выйти
        </a>
    </li>
{% else %}
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            {{ '[имя]' }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'authapp:login' %}">
            Авторизуйтесь
        </a>
    </li>
{% endif %}
