{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    {% block awesome %}
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    {% endblock awesome %}
    {% block swiper %}
    {% endblock swiper %}
{% endblock css %}

{% block basket %}
{% endblock basket %}

{% block client_review %}
{% endblock client_review %}

{% block feature %}
{% endblock feature %}

{% block subscribe %}
{% endblock subscribe %}


