{% extends 'basketapp/base.html' %}
{% load static %}

{% block basket %}
    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
    <div class="container">
    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody class="product_jquery">
                {% include 'basketapp/includes/inc_basket.html' %}
                </tbody>
            </table>
            <div class="checkout_btn_inner float-right">
                <a class="btn_1" href="{% url 'products:index' %}">
                    Продолжить покупки
                </a>
                <a class="btn_1 checkout_btn_1"
                   href="{% url 'order:order_create' %}">
                    оформить заказ
                </a>
            </div>
        </div>
    </div>
    <tr class="bottom_button">
        <td>
            <a class="btn_1" href="#">Update Cart</a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div class="cupon_text float-right">
                <a class="btn_1" href="#">Close Coupon</a>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <h5>Итого:</h5>
        </td>
        <td>
            <h5>{{ basket_itm.0.total_cost }}&#8381</h5>
        </td>
    </tr>
    <tr class="shipping_area">
        <td></td>
        <td></td>
        <td></td>
        <td>
            <h5>Shipping</h5>
        </td>
        <td>
            <div class="shipping_box">
                <ul class="list">
                    <li>
                        Flat Rate: $5.00
                        <input type="radio" aria-label="Radio button for following text input">
                    </li>
                    <li>
                        Free Shipping
                        <input type="radio" aria-label="Radio button for following text input">
                    </li>
                    <li>
                        Flat Rate: $10.00
                        <input type="radio" aria-label="Radio button for following text input">
                    </li>
                    <li class="active">
                        Local Delivery: $2.00
                        <input type="radio" aria-label="Radio button for following text input">
                    </li>
                </ul>
                <h6>
                    Calculate Shipping
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </h6>
                <select class="shipping_select">
                    <option value="1">Bangladesh</option>
                    <option value="2">India</option>
                    <option value="4">Pakistan</option>
                </select>
                <select class="shipping_select section_bg">
                    <option value="1">Select a State</option>
                    <option value="2">Select a State</option>
                    <option value="4">Select a State</option>
                </select>
                <input class="post_code" type="text" placeholder="Postcode/Zipcode"/>
                <a class="btn_1" href="#">Update Details</a>
            </div>
        </td>
    </tr>
{% endblock basket %}
</div>
</section>
<!--================End Cart Area =================-->

