{% extends 'basketapp/base.html' %}
{% load staticfiles %}

{% block basket %}
    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody class="product_jquery">
                            {% include 'basketapp/includes/inc_basket.html' %}
                        </tbody>
                    </table>
                    <div class="checkout_btn_inner float-right" style="padding-right: 12px;">
                        <a class="btn_1" href="#">Continue Shopping</a>
                        <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
{% endblock basket %}

