{% for itm in basket_itm %}
    <tr class="item_product_jquery">
        <td>
            <div class="media">
                <div class="d-flex">
                    <img src="/media/{{ itm.product.image }}" alt="Фото"/>
                </div>
                <div class="media-body">
                    <a href="{% url 'products:single_product' itm.product.id %}"><p>{{ itm.product.name }}</p></a>
                </div>
            </div>
        </td>
        <td>
            <h5>{{ itm.product.price }} &#8381;</h5>
        </td>
        <td>
            <div class="product_count_item">
                <div class="product_count_item d-inline-block">
                    <span class="product_count_item btn_minus"><i class="ti-minus"></i></span>
                    <input class="product_count_item" type="text" readonly style="width: 5em;"
                           name="{{ itm.pk }}" value="{{ itm.quantity }}" min="0" max="10" step="1">
                    <span class="product_count_item btn_plus"><i class="ti-plus"></i></span>
                </div>
                {#                <span class="input-number-decrement"> <i class="ti-minus"></i></span>#}
                {#                <input class="input-number" type="text" name="{{ itm.pk }}" value="{{ itm.quantity }}" min="0"#}
                {#                       max="10">#}
                {#                <span class="input-number-increment"> <i class="ti-plus"></i></span>#}
            </div>
        </td>
        <td>
            <h5>{{ itm.product_cost }}&#8381;</h5>
        </td>
        <td>
            <a href="{% url 'basket:remove' itm.id %}">
                <span class="btn btn-outline-danger ti-close"></span>
            </a>
        </td>
    </tr>
{% endfor basket_itm %}

