{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block login %}
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            {% block registry_fields_1 %}
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="{% url 'authapp:registry' %}" class="btn_3">Регистрация</a>
                            {% endblock registry_fields_1 %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                        {% block registry_fields_2 %}
                            <h3>Welcome Back ! <br>
                                Please Sign in now</h3>
                            <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
                                {% csrf_token %}
                                {% if next %}
                                    <input type="hidden" name="next" value="{{ next }}">
                                {% endif %}
                                {{ login_form.as_p }}
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <label for="f-option">Remember me</label>
                                    </div>
                                    <button type="submit" value="submit" class="btn_3">
                                        Войти
                                    </button>
                                    <a class="lost_pass" href="#">forget password?</a>
                                </div>
                            </form>
                        {% endblock registry_fields_2 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
{% endblock login %}
