{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    {{ block.super }}
    <hr class="bg-danger" style="margin-top: 0px; margin-bottom: 0px; border-top-width: 7px;">
{% endblock breadcrumb %}

{% block content_adm %}
{% endblock content_adm %}

{% block feature %}
{% endblock feature %}

{% block subscribe %}
{% endblock subscribe %}

{% block js %}
    {{ block.super }}
    {% block custom %}
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/admin.js' %}"></script>
    {% endblock custom %}
{% endblock js %}