{% extends 'adminapp/base.html' %}
{% load static %}

{% block content_adm %}
    {% if object.is_active %}
        <div>
            Уверены, что хотите удалить категорию: <strong>{{ object.name }}</strong>?
            <form action="{% url 'admin:category_delete' object.pk %} " method="post">
                {% csrf_token %}
                <input type="submit" value="удалить" class="btn btn-danger">
            </form>
            <button class="btn btn-success">
                <a href="{% url 'admin:categories_read' %}">отмена</a>
            </button>
        </div>
    {% else %}
        <div>
            Уверены, что хотите восстановить категорию: <strong>{{ object.name }}</strong>?
            <form action="{% url 'admin:category_delete' object.pk %} " method="post">
                {% csrf_token %}
                <input type="submit" value="восстановить" class="btn btn-danger">
            </form>
            <button class="btn btn-success">
                <a href="{% url 'admin:categories_read' %}">отмена</a>
            </button>
        </div>

    {% endif %}

{% endblock content_adm %}