{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content_adm %}
    {% if pk_category %}
        <a href="{% url 'admin:categories_read' %}" class="genric-btn primary rounded">Категории</a>
        <a href="{% url 'admin:product_create' pk_category %}" class="genric-btn success circle">+ Создать товар</a>
    {% else %}
        <a href="{% url 'admin:types_read' %}" class="genric-btn primary rounded">Типы</a>
        <a href="{% url 'admin:product_create' pk_type %}" class="genric-btn success circle">+ Создать товар</a>
    {% endif %}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">Кр. описание</th>
            <th scope="col">Категория</th>
            <th scope="col">Тип</th>
            <th scope="col">количество</th>
            <th scope="col">Цена</th>
            <th scope="col">Удалить</th>
        </tr>
        </thead>
        <tbody>
        {#        цикл загружается когда продукты выбраны по типу#}
        {% for object in objects_of_type %}
            <tr bgcolor="{% if not object.is_active %} #fa8072{% endif %}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ object.id }}</td>
                <td>
                    <a href="{% url 'admin:product_update' object.pk %}" class="btn badge-primary link-edit"
                       title="Редактировать товар">
                        {{ object.name }}
                    </a>
                </td>
                <td>{{ object.short_desc }}</td>
                <td>{{ object.category }}</td>
                <td>{{ object.type }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.price }}</td>
                <td>
                    {% if object.is_active %}
                        <a href="{% url 'admin:product_tp_delete' pk_type object.pk %}"
                           class="btn badge-danger ti-trash link-edit"
                           title="Удалить товар"></a>
                    {% else %}
                        <a href="{% url 'admin:product_tp_delete' pk_type object.pk %}"
                           class="btn badge-success ti-plus link-edit"
                           title="Восстановить товар"></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        {#        цикл загружается когда продукты выбраны по категории#}
        {% for object in objects_of_category %}
            <tr bgcolor="{% if not object.is_active %}#fa8072 {% endif %}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ object.id }}</td>
                <td>
                    <a href="{% url 'admin:product_update' object.pk %}" class="btn badge-primary link-edit"
                       title="Редактировать товар">
                        {{ object.name }}
                    </a>
                </td>
                <td>{{ object.short_desc }}</td>
                <td>{{ object.category }}</td>
                <td>{{ object.type }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.price }}</td>
                <td>
                    {% if object.is_active %}
                        <a href="{% url 'admin:product_ct_delete' pk_category object.pk %}"
                           class="btn btn-outline-danger ti-trash link-edit"
                           title="Удалить товар"></a>
                    {% else %}
                        <a href="{% url 'admin:product_ct_delete' pk_category object.pk %}"
                           class="btn badge-success ti-plus link-edit"
                           title="Восстановить товар"></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock content_adm %}