{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content_adm %}
    <div class="container">
        <div class="col-md-auto">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ objects.as_p }}
                <input type="submit" class="btn btn-outline-success form-control" value="сохранить">
            </form>
            {% if pk_category %}
                    <a href="{% url 'admin:products_category_read' pk_category %}" class="btn btn-outline-info form-control last-related">Вернуться к списку продуктов</a>
            {% else %}
                <a href="{% url 'adminapp:products_type_read' objects.pk %}"
                   class="btn btn-outline-info form-control last-related">Вернуться ксписку продуктов</a>
            {% endif %}
        </div>
    </div>
{% endblock content_adm %}
