{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content_adm %}
    <div>
        Уверены, что хотите удалить пользователя: <strong>{{ object_del.name }}</strong>?
        <form action="{% url 'admin:user_delete' object_del.pk %} " method="post">
            {% csrf_token %}
            <input type="submit" value="удалить" class="btn btn-danger">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:users_read' %}">отмена</a>

        </button>
    </div>

{% endblock content_adm %}