{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block banner %}
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Best quality
                                pillow</h1>
                            <p>Seamlessly empower fully researched
                                growth strategies and interoperable internal</p>
                            <a href="{% url 'products:index' %}" class="btn_1">Найди свою</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_img">
            <img src="{% static 'img/banner.png' %}" alt="#" class="img-fluid">
            <img src="{% static 'img/banner_pattern.png' %}" alt="#" class="pattern_img img-fluid">
        </div>
    </section>
    <!-- banner part start-->
{% endblock banner %}

{% block product_list %}
    <!-- product list start-->
    <section class="single_product_list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% for itm in main_products %}
                        <div class="single_product_iner">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_product_img">
                                        <img src="/media/{{ itm.image }}" class="img-fluid" alt="Фото">
                                        <img src="{% static 'img/product_overlay.png' %}" alt="#" class="product_overlay img-fluid">
                                    </div>
                                </div>
                                    <div class="col-lg-5 col-sm-6">
                                        <div class="single_product_content">
                                            <h5>Цена: {{ itm.price }}&#8381;</h5>
                                            <h2><a href="{% url 'mainapp:single_product' itm.id %}">{{ itm.short_desc|capfirst }}</a></h2>
                                            <a href="{% url 'mainapp:single_product' itm.id %}" class="btn_3">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- product list end-->
{% endblock product_list %}

{% block trending_item %}
    <!-- trending item start-->
    <section class="trending_items">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Самые востребованные товары:</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in trending_products %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_product_item">
                            <div class="single_product_item_thumb">
                                <img src="/media/{{ product.image }}" alt="Фото" class="img-fluid">
                            </div>
                            <h3><a href="{% url 'mainapp:single_product' product.id %}">{{ product.short_desc|capfirst }}</a></h3>
                            <p>Цена: {{ product.price }}&#8381;</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- trending item end-->
{% endblock trending_item %}

{% block client_review %}
    <!-- client review part here -->
    <section class="client_review">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="client_review_slider owl-carousel">
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="{% static 'img/client.png' %}" alt="#">
                            </div>
                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to
                                help alleviate human suffering.</p>
                            <h5>- Micky Mouse</h5>
                        </div>
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="{% static 'img/client_1.png' %}" alt="#">
                            </div>
                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to
                                help alleviate human suffering.</p>
                            <h5>- Micky Mouse</h5>
                        </div>
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="{% static 'img/client_2.png' %}" alt="#">
                            </div>
                            <p>"Working in conjunction with humanitarian aid agencies, we have supported programmes to
                                help alleviate human suffering.</p>
                            <h5>- Micky Mouse</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review part end -->
{% endblock client_review %}


{% block js %}
    {{ block.super }}
    {% block swiper %}
    {% endblock swiper %}
{% endblock js %}


</body>

</html>